.column5 {
    -ms-flex: 10%; /* IE10 */
    flex: 10%;
    padding: 4px 40px;
    background-color: rgb(240, 245, 247);
    font-family: 'Arbutus Slab';
    font-size: 15px;
    font-weight: bold;
  }
  .box
  {
      margin-left: 24px;
      margin-top: 8px;
  }
  .box select
  {
       background: #87898a;
       color: #fff;
       padding: 10px;
       width: 100px;
       height: 40px;
       border-radius: 5px;
  }
